@{
    ViewBag.Title = "Portfolio";
}
<!-- Portfolio Section -->
    <section class="section bg-custom-gray" id="portfolio">
        <div class="container">
            <h1 class="mb-5"><span class="text-danger">My</span> Portfolio</h1>
            <div class="portfolio">

            </div>
        <div class="container mt-5">
            <h1>GitHub Link</h1>
            <p>Visit my GitHub profile:</p>
            <a href="https://github.com/sameerdeshar" target="_blank" class="btn btn-primary ">
                <i class="fa fa-github"></i> Visit GitHub
            </a>
        </div>

        <div class="container mt-5 text-danger">
            <h2>Projects</h2>
            <div class="card text-danger">
                <div class="card-body">
                    <h5 class="card-title ">Shoe_store</h5>
                    <p class="card-text">Ecommerce site of shoe store using nextjs and nodejs.</p>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">CRUD laravel app</h5>
                    <p class="card-text">CRUD app made using laravel.</p>
                </div>
            </div>
            <!-- Add more projects as needed -->
        </div>


        </div>
        </div>
    </section>
        